localhost:8080 {
    proxy /api localhost:8081 {
        header_upstream Host {host}
    }
    proxy /login localhost:8081 {
        header_upstream Host {host}
    }
    proxy /logout localhost:8081 {
        header_upstream Host {host}
    }
    proxy /register localhost:8081 {
        header_upstream Host {host}
    }
    proxy /password/reset localhost:8081 {
        header_upstream Host {host}
    }
    proxy /password/email localhost:8081 {
        header_upstream Host {host}
    }
    proxy /laravel localhost:8081 {
        header_upstream Host {host}
    }
    proxy / localhost:8082 {
        header_upstream Host {host}
    }
}

localhost:8081 {
    root back-end/public
    fastcgi / 127.0.0.1:9000 php
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}